@charset "utf-8";

.navbar{width:50px; float:right; transition:all 0.5s; margin-top:15px;}
.navbar-toggler{height:50px;text-align: center;width: 50px;position: relative; z-index:3; cursor: pointer;}

.navbar>ul{width:100%; overflow:auto; text-align:center; padding-bottom:40px; background:rgba(0,0,0,0.8); position:fixed; top:80px; left: 0px;bottom:0px; display: none; z-index:2;}
.navbar>ul>li a{width:100%; display:block; color:#fff; line-height: 30px; font-size:14px; padding:10px 0; border-bottom:1px rgba(255,255,255,0.15) solid; transition: all 0.5s;}
.navbar>ul>li a:hover{background:#f7f7f7;}

.navbar-toggler span{width:25px;height:2px; background:#fff; position:absolute; left:calc((100% - 25px) / 2); top: calc((100% - 1px) / 2);}
.navbar-toggler span:nth-child(1){transform: translateY(4px) rotate(0deg);}
.navbar-toggler span:nth-child(2){transform: translateY(-4px) rotate(0deg);}
	
.navbar-toggler-click span:nth-child(1){animation-duration: 0.5s;animation-fill-mode: both;animation-name: clickfirst;}		
.navbar-toggler-click span:nth-child(2){animation-duration: 0.5s;animation-fill-mode: both;animation-name: clicksecond;}
	


@keyframes clickfirst {
  0% {transform: translateY(4px) rotate(0deg);}

  100% { transform: translateY(0) rotate(45deg); }
}	



@keyframes clicksecond {
  0% { transform: translateY(-4px) rotate(0deg); }

  100% { transform: translateY(0) rotate(-45deg); }
}	

.toggler_button span:nth-child(1){animation-duration: 0.5s;animation-fill-mode: both;animation-name: outfirst;}		
.toggler_button span:nth-child(2){animation-duration: 0.5s;animation-fill-mode: both;animation-name: outsecond;}

@keyframes outfirst {
  0% { transform: translateY(0) rotate(-45deg); }

  100% { transform: translateY(-4px) rotate(0deg); }
}	



@keyframes outsecond {
  0% { transform: translateY(0) rotate(45deg); }

  100% { transform: translateY(4px) rotate(0deg);}
}

header{height:80px; background:#111;}
header nav{background:rgba(0,0,0,0.8);}
header nav{width:96%; margin:0 auto;}
header nav .logo{height:80px; margin-left:0;display:table;float: left;}
header nav .logo img{max-height:40px;}
header nav .logo a{display:table-cell;vertical-align:middle;}